{% extends './base.html' %}

{% block title %} Product Catalog {% endblock title %}

{% block content %}

<div class="container mt-5">
  <h1 class="display-4 mb-4 fw-bold text-center">Discover our products</h1>
</div>
{% if user.is_authenticated %}
<center><a href="{% url 'addproduct' %}" class="mb-4 btn  btn-right">Add Product</a></center>
{% endif %}
</div>
  <div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img class="card-img-top product-image" src="/media/{{product.imag}}" alt="{{ product.libelle }}">
        <div class="card-body">
          <h5 class="display-4 mb-4 fw-bold text-center">{{ product.libelle }}</h5>
          <p class="fw-bold text-center">{{ product.description }}</p>
          <center><a href="{% url 'produit_detail' product.id %}" class="btn btn-dark"><h5 class=" fw-bold text-center">More -> </h5></a></center>
        </div>
      </div>
    </div>
    {% endfor %}
    
  
{% endblock %}

{% block styles %}
<style>
  .product-image {
    height: 400px;
    object-fit: cover;
  }
  .card {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  .card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .card-text {
    font-size: 0.9rem;
    color: #666;
  }
  
</style>
{% endblock %}
